.contact{
    margin:40px auto;
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;
}
.contact-col ul{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}
.contact-col h3{
    margin-right:23px;
    color:rgb(50, 50, 129)
}
.contact form input, .contact form textarea{
    border:0;
    margin:17px 0;
    padding:8px;
    display:block;
    width: 100%;
    background-color: #e6e5e5;
    resize: none;
}
.contact-col span{
    display:block;
    margin:18px 0;
}